{% extends 'resize_image/base.html' %} {% load staticfiles %} {% block content %}

        <a href="{% url 'upload_image' %}" class="btn btn-primary btn-block">Загрузить изображение</a>
         <br>   
        {% if image_list %} 
        {% for image in image_list %}
        <a class="text-info" href="{% url 'edit_image' image.id %}"><label>{{image.name_image}}</label></a>
        <br>
        <img src="{{image.img.url}}"> 
        <br>
        <br>
    
{% endfor %} {% endif %} {% endblock %}