{% extends 'resize_image/base.html' %} 
{% load staticfiles %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <h4>Загрузка из файла</h4>
        <label>файл</label>
        {{ form.img }}
    </div>
    <br>
    <div class="form-group">
        <h4>Загрузка из УРЛ</h4>
        <label>URL</label>
        {{ form.url }}
    </div>     
    <div style="color: red;">{{ form.non_field_errors }}</div>
    <input type="submit" value="Submit" />       
</form>
{% endblock %}